{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- My profile start -->
    <div class="content-area my-profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <!-- User account box start -->
                    <div class="user-account-box">
                        <div class="header clearfix">
                            <div class="edit-profile-photo">
                                <img src="http://placehold.it/150x150" alt="agent-1" class="img-responsive">
                                <div class="change-photo-btn">
                                    <div class="photoUpload">
                                        <span><i class="fa fa-upload"></i> Upload</span>
                                        <input type="file" class="upload">
                                    </div>
                                </div>
                            </div>
                            <h3>{{ user.username }}</h3>
                            <p>{{ user.email }}</p>
                        </div>
                        <div class="content">
                            <ul>
                                <li>
                                    <a href="{% url 'user_profile_page' user_id=user.id %}">
                                        <i class="flaticon-social"></i>ユーザー設定
                                    </a>
                                </li>
                                {% if user.is_organizer %}
                                    <li>
                                        <a href="{% url 'user_nursery_list_page' user_id=user.id %}">
                                            <i class="flaticon-apartment"></i>運営保育園設定
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="#">
                                        <i class="fa fa-heart"></i> My保育園リスト
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-plus"></i> 申し込み状況　
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="flaticon-security"></i>パスワードを変更する　
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout_page' %}">
                                        <i class="flaticon-sign-out-option"></i>ログアウト
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- User account box end -->
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="my-address">
                        {% block profile %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
