{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="my-profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- My address start-->
                    <div class="my-address">
                        <div class="main-title-2" id="basic">
                            <h1>基本情報</h1>
                            <a data-scroll href="#free_num" class="btn btn-default pull-right"
                               data-animation="animated fadeInUp delay-15s">空き情報</a>
                        </div>
                        <form action="{% url 'admin_nursery_page' ward_id=ward.id nursery_id=nursery_id %}"
                              method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <input type="hidden" name="form_type" value="basic">
                            <div class="form-group">
                                <button class="btn button-md button-theme pull-right" type="submit">変更を保存</button>
                            </div>
                        </form>

                        <div class="main-title-2" id="free_num">
                            <h1>空き情報</h1>
                        </div>
                        <form action="{% url 'admin_nursery_page' ward_id=ward.id nursery_id=nursery_id %}"
                              method="POST">
                            {% csrf_token %}
                            {% for field in form_free_num %}
                                <div class="form-group">
                                    {{ field.label }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <input type="hidden" name="form_type" value="free_num">
                            <div class="form-group">
                                <button class="btn button-md button-theme pull-right" type="submit">変更を保存</button>
                            </div>
                        </form>

                        <div class="main-title-2" id="score">
                            <h1>保育指数</h1>
                        </div>
                        <form action="{% url 'admin_nursery_page' ward_id=ward.id nursery_id=nursery_id %}"
                              method="POST">
                            {% csrf_token %}
                            {% for field in form_score %}
                                <div class="form-group">
                                    {{ field.label }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <input type="hidden" name="form_type" value="score">
                            <div class="form-group">
                                <button class="btn button-md button-theme pull-right" type="submit">変更を保存</button>
                            </div>
                        </form>
                    </div>
                    <!-- My address end -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
