{% extends "profile/base.html" %}
{% block profile %}
    <div class="main-title-2">
        <h1>基本情報</h1>
    </div>
    <form action="{% url 'user_nursery_basic_page' user_id=user.id nursery_id=nursery_id %}"
          method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <div class="form-group">
            <button class="btn button-md button-theme pull-right" type="submit">変更を保存</button>
        </div>
    </form>
{% endblock %}
