{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="my-profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="my-address">
                        <div class="main-title-2" id="basic">
                            <h1>{{ nursery_tour.nursery.name }} 見学会</h1>
                        </div>
                        <p>住所
                        <div class="text-center">{{ nursery_tour.nursery.address }} </div>
                        </p>
                        <p>開催日時
                        <div class="text-center"> {{ nursery_tour.date }} {{ nursery_tour.start_time }}
                            ~ {{ nursery_tour.end_time }} </div>
                        </p>
                        <p>保育園からお知らせ
                        <div class="text-center">{{ nursery_tour.description }} </div>
                        </p>
                    </div>
                    <div class="my-address">
                        <div class="main-title-2" id="basic">
                            <h1>見学会予約フォーム</h1>
                        </div>
                        <form action="{% url 'nursery_reservation_page' nursery_id=nursery_id nursery_tour_id=nursery_tour.id %}"
                              method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <button class="btn button-md button-theme pull-right" type="submit">見学会を予約・登録情報を修正する
                                </button>
                                {% if reservation_id %}
                                    <a href="{% url 'delete_user_reserved_page' nursery_id=nursery_id nursery_tour_id=nursery_tour.id reservation_id=reservation_id %}">
                                        <button class="btn button-md button-default pull-left" type="submit" onclick="return confirm('本当に見学会をキャンセルしますか？');">見学会をキャンセルする
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
